body {
	background-image: linear-gradient(black 0%, navy 90%);
	background-attachment: fixed;
	font-family: "MSゴシック", sans-serif;
}

div.main {
	margin-left: center;
	margin-right: center;
	float: center;
	width: 900px;
}
div.left, div.right {
	float: left;
	-moz-border-radius: 50px;
	margin-top: 5px;
	padding: 20px 20px;
        border-style: outset;
}
div.left {
	margin-right: 5px;
	margin-left: 0px;
	background-image: url("telescope0.jpg");
	background-size: cover;
	height: 900px;
	width: 200px;
	font-size: 15px;
}

div.right {
	background-image: linear-gradient(skyblue 50%, blue 100%);
	height: auto;
	min-height: 0;
	width: 600px;
	font-size: 18px;
}

div.hyperlink {
	border: none;
	margin-top: 0em;
	margin-bottom: 80px;
	padding: 2em 0em;
	width: 200px;
	height: 540px; 	
	font-size: 30px;
	background-color: rgba(0, 0, 0, 0.5);
}

div.photoBox {
	background-color: none;
	margin-left: center;
	margin-right: center;
	float: center;
	width: 900px;
	height: auto;
	padding: 20px 20px;
        border-style: none;
	color: #f0f0f0;
}
div.photoBox td {
	color: #f0f0f0;
	height: 400px;
	width: 500px;
}

div.hyperlink2 {
	background-image: url("domeview.jpg");
	margin-left: 70px;
	margin-right: auto;
	width: 760px;
	height: auto;
	padding: 15px 20px;
	margin-top: 5px;
	text-align: center;
	font-size: 20px;
}

h1 {
	color: navy;
	margin-bottom: -0.4em;  
}

a:link {
	color: #ffffff;
	text-decoration: none;
}
a:visited {
	color: #f0f0f0;
	text-decoration: none;
}
a:active {
	color: #ffff00;
	text-decoration: none;
}
a:hover {
	color: #ffffb0;
	text-decoration: underline;
}

a:link img {
	border: groove 10px;
}
a:visited img {
	border: groove 10px;
}
a:active img {
	border: inset 10px;
}
a:hover img {
	border: outset 10px;
}


p {
	text-align: justify;
	text-indent: 1em;
	text-justify: distribute;
}

td img{
	max-width: 400px;
	max-height: 300px;
}



div.info {
	color: #ffffff;
	font: "Times New Roman";
}


	/*
	こんにちは、CSSならあまり目に付かないと
	思ったので、記念に色々と書かせてもらいます。

	この度は、HPを大幅リニューアルさせて頂きました。
	前のHPを作られた先輩の方々、すみません(;_;)。
	その代わり、と言ってはなんですが、更新にあたって、
	前回の内容の一部を継承させて頂きました。

	CSSとHTMLですが、私は初心者なので、見た目も汚く、
	非常に見づらいと思います。なので、今後の
	ホームページ更新は、好きな様にやって下さい。
	一部を更新するも良し、一から作り直すも良し。
	でも、なんだか、ワンダーフォーゲル部のHPが豪華
	なので、負けない様にして下さいね。悔しいですから。

	最後に写真に載ってる部員の方々、大変感謝しています。
	どうも皆さんありがとうございました。ではまた。

	制作:某天文部員2ASN(25期生)。2009-3-8に完成せり。
	(現在、実はテスト期間中だったりしますけど。)


        >>更新2013.1ss
        敬意を表して踏襲しました。
　　　　制作:ある天文部員(高校30期生)

	>>更新2015.11?
	敬意を表してリニューアル。
	全面的に変更しましたが、基本的な構造は変わっておりません。
	今後、何か変えたいことがある場合はご自由にどうぞ。
	リンクと海外版ページに関して、今回は何も出来なかったので、時間があれば挑戦してみてください。
	というかして下さいお願いします何でもしますから(実際に何でもするとは言っていない)
	そして気になるのは、今後このページを開く者が居るのか、と言うことなのです。
	そもそもこの文章が日の目を見る時点で杞憂なんですけれどね。
	そしてもう一点。

望遠鏡の修理、やってますか？

	編集担当①：32期　えたんだーる

	主にCSSをいじりました
	リンク・参照がややこしくなってしまったのが心残りです
	一学期中に終わらせる予定だったのがどうしてこうなった_<s>先輩の無茶振り（上記参照）のプレッシャーが……</s>
	初心者でしたがHTML指南本を借りまくってどうにかなりました

だから、つべこべ言わずさっさと更新しましょう（大ブーメラン）

	編集担当②：32期　メチオニン

*/